#### Tuple Creation

In [3]:
tup1 = () #Empty Tuple

In [7]:
tup2 = (10,30,60) #tuple of integers numbers

In [11]:
tup3 = (10.77,30.66,60.89) #Tuple of float number

In [13]:
tup4 = ('one','two',"three") #Tuple of strings

In [17]:
tup5 = ('Mandeep', 25,(50,100),(150,90)) #Nested tuples

In [19]:
tup6 = (100, 'Mandeep', 17.765) #Tuple of mixed data type

In [21]:
tup7 = ('Mandeep', 25,[50,100],[150, 90], {'John' , 'David'} , (99,22,33))

In [24]:
len(tup7) #Length of List

6

#### Tuple Indexing

In [27]:
tup2[0] #Retreive first element of the tuple

10

In [29]:
tup4[0]

'one'

In [33]:
tup4[0][0] #Nested indexing- Access the first tuple element

'o'

In [41]:
tup4[-1] #Last item of the tuple

'three'

In [43]:
tup5[-1] #Last item of the tuple

(150, 90)

#### TUPLE Slicing

In [46]:
mytuple = ('one' , 'two' , 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
mytuple[0:3] #Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [50]:
mytuple[2:5]

('three', 'four', 'five')

In [54]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [56]:
mytuple[:2]

('one', 'two')

In [60]:
mytuple[-3:] #Return Last three items

('six', 'seven', 'eight')

In [64]:
mytuple[-2:] #Return last two items

('seven', 'eight')

In [66]:
mytuple[-1] #Return Last item of the tuple

'eight'

In [68]:
mytuple[:] #Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

#### Remove & Change Items

In [71]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [73]:
del mytuple[0] #Tuple are immutable which means we can't Delete tuple items

TypeError: 'tuple' object doesn't support item deletion

In [77]:
mytuple[0] = 1 #Tuple are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple #Deleting entire tuple object is possible

#### Loop Through a Tuple

In [92]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [94]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [96]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

#### Tuple Membership

In [99]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [103]:
'one' in mytuple #check if one exist in the list

True

In [107]:
'ten' in mytuple #check if ten exist in the list

False

In [109]:
if 'three' in mytuple:
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [111]:
if 'eleven' in mytuple:  #check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('Eleven is not present in the tuple')

Eleven is not present in the tuple

#### Index Position

In [114]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [116]:
mytuple.index('one')

0

In [118]:
mytuple.index('five')

4

In [122]:
mytuple1 = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [124]:
mytuple1.index('one')

0

#### Sorting

In [127]:
mytuple2 = (43,67,99,12,6,90,67)

In [131]:
sorted(mytuple2) #Return a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [133]:
sorted(mytuple2, reverse=True) #Sort in descending order

[99, 90, 67, 67, 43, 12, 6]